form{
    width: 60%;
    margin: auto;

}
i{
    border: 3px solid rgb(151, 151, 151);
    padding: 5px;
    margin: 10px;
    border-radius: 50%;
    color: rgb(190, 190, 190);
}
button{
    width: 100%;
    
    
    
}